.dropdown {
    display: flex;
    align-items: center; 
  justify-content: space-between;
}
.aside{
   
    width: 230px;
    margin-top: 20px;
    padding: 15px 5px;
}

.dropdown-text {
    flex: 1; 
    margin-right: 10px; 
}
.dropbtn {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  .dropdown-content label {
    display: block;
    margin: 5px 0;
  }
  

  .dropdown-content label:hover {
    background-color: #f1f1f1;
  }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }