.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(206, 206, 206);
    border-top: 3px solid rgb(206, 206, 206) ;
    width : 99%;
    height: 60px;
}